.App {
  background-color: #222;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  gap: 50px;
  position: relative;
}

.card {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.animal-card {
  position: relative;
  text-align: center;
}

.animal-image {
  width: 150px;
  height: 100px;
  margin: 0;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.selected-image {
  transform: scale(1.2);
  z-index: 1; 
  transition: transform 0.3s ease, filter 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.animal-image {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.expanded-image {
  width: 50vw;
  height: auto;
  box-shadow: 0px 4px 10px rgba(231, 36, 36, 0.959);
}